// Default

html,
body {
  margin: 0;
}

body {
  display: flex;
}

main {
  width: 100%;

  align-items: center;
  font-family: sans-serif;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #009a5b);

  color: #fff6d5;
  text-align: center;
}

// Assets

.logo {
  height: 20em;
}

// Home

main.home {
  height: 100vh;

  display: flex;
  font-size: 1.5rem;
}

// License

main.license {
  margin: 0;

  background: #bbbbbb;
  color: black;
  font-size: 1rem;
}

div.license {
  margin-top: 2%;
  margin-left: 5%;

  text-align: left;
  white-space: pre-wrap;
}

// Profile

main.profile {
  height: 100vh;
  margin: 0;

  background: #bbbbbb;
  color: black;
  font-size: 1rem;
}

table.profile {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.profile-table-key,
.profile-table-value {
  border: 1px solid black;
  padding: 4px;
  text-align: left;
}

th.profile-table-key,
th.profile-table-value {
  background: #999999;
}

th.profile-table-key {
  width: 20%;
}

th.profile-table-value {
  width: 80%;
}
